@model RegisterDTO
@{
    ViewData["Title"] = "Register";
}
<partial name="_Notification" />
<div id="loginformcontainer" class="container d-flex justify-content-center align-items-center text-light">
    <form id="loginform" class="text-light needs-validation w-25" method="post" asp-controller="Login" asp-action="Register">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" asp-for="email" id="email" placeholder="example@domain.com" title="please enter a valid email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="on" aria-describedby="emailHelp" required>
            <div class="invalid-tooltip">
                Please provide valid a valid email.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Firstname</label>
            <input type="text" asp-for="firstname" class="form-control" id="firstname"  minlength="2" autocomplete="on" required>
            <div class="invalid-tooltip">
                Please provide valid a valid username.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Lastname</label>
            <input type="text" asp-for="lastname" class="form-control" id="lastname" minlength="2" autocomplete="on" required>
            <div class="invalid-tooltip">
                Please provide valid a valid username.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" asp-for="password" class="form-control" id="password" minlength="2" autocomplete="on" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" asp-for="keeplogin" class="form-check-input" id="exampleCheck1" checked>
            <label class="form-check-label" for="exampleCheck1">Keep me logged in!</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-2">Register</button>
        <a class="btn btn-secondary w-100" asp-controller="Login" asp-action="Login">Login</a>
    </form>
</div>

