@model Message
<form id="messageBlock" class="form-control mb-3 w-75" align="center">
    <div id="messageTitleContainer" align="center">
        <div id="messageTitle" class="d-inline-flex">
        <span class="ms-1 shadow-sm bg-opacity-75">@Model.Date</span>
        </div>
    </div>
    <div id="messageBodyContainer" class="m-2">
        <p id="messageBody">
            @Model.Text
            </p>

    </div>
    </form>