<form id="messageBlock" class="form-control mb-3 w-75" align="center">
    <div id="messageTitleContainer" align="center">
        <div id="messageTitle" class="d-inline-flex">
        <span class="ms-1 shadow-sm bg-opacity-75">-Moath17-</span>
        </div>
    </div>
    <div id="messageBodyContainer" class="m-2">
        <p id="messageBody">
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, consectetur
            adipiscing elit pellentesque. Porttitor 
            lacus luctus accumsan tortor. Potenti nullam ac tortor vitae. 
            Praesent tristique magna sit amet purus gravida quis blandit turpis.
            Ut aliquam purus sit amet luctus venenatis lectus magna. Urna porttitor 
            rhoncus dolor purus non enim praesent. Mauris a diam maecenas sed enim.
            </p>

    </div>
    </form>